<?xml version='1.0' standalone='yes' ?>
<LVData xmlns="http://www.ni.com/LVData">
<Version>21.0.1f2</Version>
<Cluster>
<Name>Settings</Name>
<NumElts>2</NumElts>
<Cluster>
<Name>IO</Name>
<NumElts>2</NumElts>
<String>
<Name>HW Refnum &lt;Replace Me&gt;</Name>
<Val></Val>
</String>
<EW>
<Name>Signal Type &lt;Replace Me&gt;</Name>
<Choice>Sine Wave</Choice>
<Choice>Square with Noise</Choice>
<Val>0</Val>
</EW>
</Cluster>
<Cluster>
<Name>Log</Name>
<NumElts>2</NumElts>
<Path>
<Name>Log File Base Path</Name>
<Val>C:\Users\joefr\Documents\LabVIEW Data\Logged Data.tdms</Val>
</Path>
<Refnum>
<Name>TDMS File Reference</Name>
<RefKind>TDMS File</RefKind>
<Val>0x00000000</Val>
</Refnum>
</Cluster>
</Cluster>
</LVData>